<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//cn.cs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.repositories.UserRepository">
  <resultMap id="BaseResultMap" type="com.cs.entity.User">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="username" property="userName" jdbcType="VARCHAR"/>
    <result column="age" property="age" jdbcType="INTEGER"/>
    <result column="customerId" property="customerId" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
        id, username, age, customerId
    </sql>
  <select id="listUser" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user
  </select>

  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from user
    where id =#{id}
  </select>
  <insert id="insertUser" parameterType="User" >
    insert into user (id,username,age,customerId) values (#{id},#{userName},#{age},#{customerId})
  </insert>

</mapper>